# Virtual Environment
assignment/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Stanford CoreNLP files
stanford-corenlp-*